{% extends 'voter/base.html'%}
{% block title %}Forgot Password{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-6">Forgot Password</h2>
        <form action="{{ url_for('voterForgotPassword') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                <label for="email" class="block text-gray-700"><i class="fas fa-envelope"></i> {{ form.email.label }}</label>
                {{ form.email(class="form-control w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", id="email") }}
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Send Reset Link</button>
        </form>
    </div>
</div>
{%endblock%}