{% extends "voter/base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block styles %}

{% endblock %}

{% block content %}
<h1>Voter Login</h1>
<div class="container">
    <div class="login-box">
        <h2>Sign In</h2>
        <form action="{{ url_for('voterLogin') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </div>

            <div class="input-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>

            <div class="options">
                <a href="#">Forgot Password?</a>
            </div>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}

