{% extends "voter/base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
<h1>Voter Login</h1>
        <form action="{{url_for('voterLogin')}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}

