{% extends 'voter/base.html'%}
{% block title %}Reset Password{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-6">Reset Password</h2>
        <form id="resetPasswordForm" action="{{ url_for('voterPasswordReset', token=token) }}" method="post" onsubmit="return validatePasswords()">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                <label for="password" class="block text-gray-700"><i class="fas fa-lock"></i> {{ form.password.label }}</label>
                {{ form.password(class="form-control w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", id="password") }}
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="block text-gray-700"><i class="fas fa-lock"></i> {{ form.confirm_password.label }}</label>
                {{ form.confirm_password(class="form-control w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", id="confirm_password") }}
            </div>
            <div id="error-message" class="text-red-500 mb-4 hidden">Passwords do not match.</div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Reset Password</button>
        </form>
    </div>
</div>

<script>
    function validatePasswords() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm_password').value;
        const errorMessage = document.getElementById('error-message');

        if (password !== confirmPassword) {
            errorMessage.classList.remove('hidden');
            return false;
        }

        errorMessage.classList.add('hidden');
        return true;
    }
</script>
{%endblock%}
